html, body {
    margin: 0;
    padding: 0;
    text-align: center;
    height: 100%;
    width: 100%;
}

ul, li {
    padding: 0;
    margin: 0;
}

.blur {
    -webkit-filter: blur(5px);
    filter: blur(100px);
}

.gallery {
    display: inline-block;
}

.gallery ul {
    font-size: 0;
    border: 1px solid #000;
}

.gallery li {
    font-size: 13px;
    display: inline-block;
    width: 150px;
    height: 120px;
    overflow: hidden;
    margin: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.1);
}

.gallery-main-container {
    display: table;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 0;
}

.gallery-main-container .left,
.gallery-main-container .right {
    color: #999;
    font-size: 35px;
    vertical-align: middle;
    height: 80px;
    line-height: 80px;
    width: 40px;
    background: #FFF;
    
}

.gallery-main-container .left {
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}

.gallery-main-container .right {
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}

.gallery-main-container .left:hover,
.gallery-main-container .right:hover {
    color: #333;
}

.gallery-main-container .container {
    display: table-cell;
    
    vertical-align: middle;
}

.gallery-main-container .container img{
    border: 10px solid #FFF;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.25);
    max-width: 600px;
    vertical-align: middle;
}

div.image {
    display: inline-block;
    position: relative;
}

.gallery-main-container .container .close {
    position: absolute;
    font-size: 30px;
    right: 0;
    top: 0;
    color: rgba(255, 255, 255, 0.3); 
    height: 60px;
    width: 60px;
    line-height: 60px;
    transition: all 0.2s;
}

.gallery-main-container .container .close:hover {
    color: rgba(255, 255, 255, 0.8);
    font-size: 45px;
}


