ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.gallery {
    width: 600px;
    overflow: hidden;
    border: 1px solid #000;
    background: #EEE;
    font-family: arial;
    font-size: 13px
}

.gallery-main {
    position: relative;
    margin: 10px;
    height: 350px;
    overflow: hidden;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}

.gallery-main .description {
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.gallery-main .description h3 {
    color: #0090CF;
    margin: 5px;
    font-weight: normal;
}

.gallery-main .description div {
    color: #CCCCCC;
    margin: 5px;
}

.gallery-main img {
    width: 100%;
}

.gallery-list {
    font-size: 0;
}

.gallery-list li{
    display: inline-block;
    width: 95px;
    height: 65px;
    overflow: hidden;
    margin: 3px;
    border:1px solid #000;
    position: relative;
    
}

.gallery-list li:hover {
    box-shadow: 2px 2px 3px rgba(0,0,0,0.5);
}

.gallery-list img {
    width: 120px;
}

.gallery-list h4 {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1em;
    width: 100%;
    font-size: 12px;
    margin: 0;
    padding: 2px 2px;
    background-color: rgba(0, 0, 0, 0.5);
    font-weight: normal;
    color: #EEE;
}

.gallery .list {
    text-align: justify;
    margin: 10px;
}

.gallery .list:after {
    content: '';
    display: inline-block;
    width: 100%;
}

.gallery .sub {
    display: inline-block;
    vertical-align: middle;
}

.gallery .left,
.gallery .right {
    width: 20px;
    height: 10px;
    font-size: 1.5em;
    color: #CCC;
    text-align: center;
}

.gallery .left:hover,
.gallery .right:hover {
    color: #FFF;
    text-shadow: 1px 1px #000;
}
