body {
    margin: 0;
}

#top_level {
    margin: 0;
    height: 350px;
    width: 511px;
    background-color: #493569;
}

#logo img {
    height: 54px;
    width: 210px;
    border: 0 solid #ffffff;
    border-bottom-width: 1px;
}

#title {
    margin: 0;
    padding: 0;
    border: 0 solid #493569;
    border-left-width: 16px;
}

#title li {
    display: inline-block;
    width: 69px;
    font-size: 11px;
    color: #ffffff;
}

.menu {
    margin: 0px;
    padding: 0px;
    height: 145px;
    width: 194px;
    border: 39px solid #493569;
    border-left-width: 33px;

}
.menu ul {
    margin: 0px;
    padding: 0px;
    height: 145px;
    width: 194px;
    border: 13px ;
}

.menu li {
    margin: 1px;
    padding: 6px;
    display: block;
    width: 165px;
    height: 16px;
    line-height: 16px;
    font-size: 18px;
    color: #ffffff;
}
.menu li:hover {
    background-color: #7A6A8D;
}

.submenu {
    padding-left: 196px;
    width: 260px;
    height: 195px;
}

.submenu ul {
    width: 260px;
    height: 195px;
}

.submenu li {
    margin: 0px;
    display: block;
    width: 165px;
    height: 10px;
    line-height: 10px;
    font-size: 14px;
    color: #ffffff;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
}
